<% layout("/layouts/boilerplate")%>

    <body >

        <div class="row ">


            

            <div class="col-8 offset-2">

                <h3><b> Edit Listing </b> </h3>
                <br> <br>

        <form method="POST" action="/listings/<%= individualListings._id%>?_method=PUT"  class ="needs-validation" novalidate>



           
            <div class="col-sm-5">
            <label for="title" class="form-label">  Title: </label>
            <input type ="text" name ="listing[title]" value = "<%= individualListings.title%>" class="form-control" required/>

            <div class="invalid-feedback">
                Title must be required
               </div>
        </div>

<br> <br>

        <div class="col-sm-9">
            <label for="description" class="form-label"> Description:</label>
            <textarea type ="text" name ="listing[description]" class="form-control"required ><%= individualListings.description%></textarea>
        
            <div class="valid-feedback">
                Looks good!
               </div>
        </div>

        <br><br>

        <div>
        <p> Original Image:</p>
        <img src ="<%=individualListings.image%>"alt="listing_img" style="height: 7rem;"/>

    </div>

    <br>

        <div class="col-sm-7"> 
            <label for="image" class="form-label">  Upload New Image:</label>
            <input type ="text" name ="listing[image]" value ="<%= individualListings.image%>" class="form-control" />
        
        </div>

        <br> <br>


       
<div class="row price-country">

        <div class="col-sm-2  ">
            <label for ="price" class="form-label">  Price:</label>
            <input type ="number" name ="listing[price]" value ="<%=individualListings.price%>" class="form-control" required/>
      
            <div class="invalid-feedback">
                price name must be required
               </div>
        </div>



        <div class="col-sm-3 country">
            <label for="country" class="form-label "> Country:</label>
            <input type ="text" name ="listing[country]" value ="<%=individualListings.country%>"class="form-control" required/>
       
            <div class="valid-feedback">
                Looks good!
               </div>
        </div>
       
    </div>
  

        <br> <br>


        <div class="col-sm-6">
            <label for="location" class="form-label"> Location;</label>
            <input type ="text" name="listing[location]" value ="<%=individualListings.location%>" Class="form-control" required/>
       
            <div class="invalid-feedback">
                Location name must be required
               </div>
        </div>

        <br> <br>
    
      
      

        <br> <br>

        <button class="btn btn-danger" > edit </button>
        <br> <br>
    </form>
</div>
</div>

    </body>
</html>